In [1]:
# # # Use the Sakila database. In this lab, you will have to generate a logistic regression model 
# # to predict if the rating of a movie will be any of ['G','PG','PG-13'] or not (['NC-17','R']), 
# # based on the movie description. To do this follow the steps below:

import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass

from sklearn.linear_model import LogisticRegression #model
from sklearn.model_selection import train_test_split # tt
from sklearn.metrics import accuracy_score #eval

In [2]:
# # 1. Determine the SQL query to obtain for each movie, the description and the rating.

query = 'SELECT description, rating  FROM sakila.film;'

In [3]:
# # 2. Create a new Jupyter notebook, establish a connection with the sakila database.

password = getpass.getpass()
connection_string = "mysql+pymysql://root:"+password+"@localhost/sakila"
engine = create_engine(connection_string)

········

In [4]:
# # 3. Create a Python function to retrieve the data from the database given the engine from the previous query.

def get_data(query, engine):
    return pd.read_sql_query(query, engine)

data = get_data(query,engine)
data

                                           description rating
0    A Epic Drama of a Feminist And a Mad Scientist...     PG
1    A Astounding Epistle of a Database Administrat...      G
2    A Astounding Reflection of a Lumberjack And a ...  NC-17
3    A Fanciful Documentary of a Frisbee And a Lumb...      G
4    A Fast-Paced Documentary of a Pastry Chef And ...      G
..                                                 ...    ...
995  A Unbelieveable Yarn of a Boat And a Database ...      G
996  A Touching Drama of a Teacher And a Cat who mu...  NC-17
997  A Fateful Yarn of a Composer And a Man who mus...  NC-17
998  A Fateful Reflection of a Waitress And a Boat ...      R
999  A Intrepid Panorama of a Mad Scientist And a B...  NC-17

[1000 rows x 2 columns]

In [5]:
# # 4. Create a Python function named binary_rating which will replace the rating values by
# 'Yes' or 'No' whether the movie rating is in ['G','PG','PG-13'] or not (['NC-17','R']).

def binary_rating (data):
    if 'G' in data:
        return 'Yes'
    elif 'PG' in data:
        return 'Yes'
    elif 'PG-13' in data:
        return 'Yes'
    elif 'NC-17' in data:
        return 'No'
    elif 'R' in data:
        return 'No'

data['rating']=data['rating'].apply(binary_rating)
data

                                           description rating
0    A Epic Drama of a Feminist And a Mad Scientist...    Yes
1    A Astounding Epistle of a Database Administrat...    Yes
2    A Astounding Reflection of a Lumberjack And a ...     No
3    A Fanciful Documentary of a Frisbee And a Lumb...    Yes
4    A Fast-Paced Documentary of a Pastry Chef And ...    Yes
..                                                 ...    ...
995  A Unbelieveable Yarn of a Boat And a Database ...    Yes
996  A Touching Drama of a Teacher And a Cat who mu...     No
997  A Fateful Yarn of a Composer And a Man who mus...     No
998  A Fateful Reflection of a Waitress And a Boat ...     No
999  A Intrepid Panorama of a Mad Scientist And a B...     No

[1000 rows x 2 columns]

In [14]:
# # 5. Create a Python function name get_df_corpus that given the dataframe,
# will return a list in which each element will be a movie description. 
# Store the function returned list as corpus for later.

def get_df_corpus (data):
    return data['description'].tolist()

corpus = get_df_corpus(data)

In [7]:
# # 6. Do the data splitting (ie. set the X and the y).

y = data['rating']
X = data['description']

In [8]:
# # 7. Do the train-test split.

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=40)

In [9]:
# # 8. Now what you need to create a model will be to dummify the words appearing in each description 
#(ignoring stop-words)# This can be done with the following chunk of code

from sklearn.feature_extraction.text import CountVectorizer
# Here we set the option stop_words = 'english' to take into account the 'stop_words' in English. 
# Other languages have different stop_words.
# We also set the option analyzer='word' to analyze words.
# See the additional resources section for more information
vectorizer = CountVectorizer(stop_words = 'english', analyzer='word')
vectorizer.fit(corpus)

# Transforming descriptions to arrays of words counts
X_train_counts = vectorizer.transform(X_train)
X_test_counts  = vectorizer.transform(X_test)

# Working with counts can be misleading for a model. It's better to work with weighted word frequencies 
# The idea is: count how many times appear each word in each description, and then compensate by the inverse
# of the number of times that this word appears in all the descriptions.
# See the additional resources section for more information
from sklearn.feature_extraction.text import TfidfTransformer

tf_transformer = TfidfTransformer()
tf_transformer.fit(X_train_counts)
X_train_tfidf = tf_transformer.transform(X_train_counts)
X_test_tfidf  = tf_transformer.transform(X_test_counts)

In [10]:
# # 9. Train a logistic regression model using X_train_tfidf and y_train as input.

lr=LogisticRegression(max_iter=400)
lr.fit(X_train_tfidf,y_train)

LogisticRegression(max_iter=400)

In [11]:
# # 10. Get the rating predictions for the X_train_tfidf and X_test_tfidf.

y_pred = lr.predict(X_test_tfidf)
accuracy_score(y_test,y_pred)

0.6166666666666667

In [12]:
y_pred_train=lr.predict(X_train_tfidf)
accuracy_score(y_train,y_pred_train)

0.65

In [13]:
# # 11. Use pickle to save: the vectorizer, the tf_transformer in a folder named transformers 
#and the model a folder named models.

import pickle 
import os 

if(not os.path.exists('models')):
    os.makedirs('models')
    pickle.dump(lr, open('models/lr.pkl','wb'))
    
if(not os.path.exists('transformers')):
    os.makedirs('transformers')
    pickle.dump(vectorizer, open('transformers/vectorizer.pkl','wb'))
    pickle.dump(tf_transformer, open('transformers/tf_transformer.pkl','wb'))